*{
    padding: 0;
    margin: 0;
    
}
section{
    display: flex;
    background-color: #000;
    color: #ffff;
}
.menuSection{
   display: flex;
}
.img-logo img {
  
    width: 150px;
    padding: 21px;
}
.menu-item {
    display: flex;
    /* justify-content: flex-end; */
    padding: 10;
    padding: 17px;
    font-size: 21px;
    align-items: center;
    line-height: 68px;
}